/* general */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    font-weight: 1000;
    margin: 0;
}

.wrapper {
    background-color: white;
    width: 100%;
    min-width: 1000px;

}

.nav_bar_landing {
    background-color: black;
    height: 58px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.content {
    padding: 30px;
    background-color: white;
}

header {
    background-color: #C4C4C4;
    color: #000000;
}

h2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

/* .content {
    padding: 20px 20px 0 20px;
} */

footer {
    background-color: #9f7c4d;
    font-size: 80%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul.topnav li {float: left;}
ul.topnav li.right-landing {
    float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

ul.topnav li a.active {color: #EEE8AA;}

ul.topnav li.right {float: right;
padding-right: 50px;}

ul.topnav li.left {float: left;
    padding-left: 50px;}

@media screen and (max-width: 400px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.nav-back{
    color: white;
    float: left;
    padding-left: 25px;
}

/* index.html */
#content-landing-page {
    padding-left: 80px;
    min-height:800px;
    background-image: url('assets/doctor_home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header2-index {
    position: absolute;
    top: 320px;
}

#indent {
    width: 55%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

#login-link {
    color: blue;
    text-decoration: none;
}

#login-text {
    padding-top: 40px;
}

/* register.html */


.register {
    border: 1px solid black;
    margin: auto;
    width: 800px;
    font-size: 25px;
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-left: 120px;
    padding-bottom: 30px;
}


.box {
    border: 1px solid black;
    margin: auto;
    width: 1500px;
    font-size: 25px;
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}


.choose_file{
    margin-left: 270px;
    margin-bottom: 10px;
    position:relative;
    display:inline-block;    
	border-radius:50%;
    border:black solid 1px;
    width: 150px;
    height: 150px;
    text-align: center;
    color: black;
    background-image: url('assets/avatar-default.png');
    background-size: 150px;
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:relative;
    top:50px; left:0;
    opacity:0; 
}

.choose {
    position: relative;
    margin-left: 265px;
	border-radius:3px;
    border:black solid 1px;
    width: 150px;
    padding: 5px;
    text-align: center;
    color: black;
    background-image: #C4C4C4;
    font-size: 12px;
    margin-bottom: 20px;
}

textarea{
    width: 340px;
}

label {
    padding: 12px;
    display: inline-block;
}

input, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
      /* display: block; */
}

select {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
      /* display: block; */
}


#register-button-container {
    padding-top: 20px;
    margin-left: -9px;
    width: 89%;
}

#register-button {
    padding-top: 20px;
    margin-left: -9px;
    width: 89%;
    background-color: #C4C4C4;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

textarea {
    margin-top: 10px;
    display: block;
}

/* login.html */

#login-button {
    padding: 15px;
    margin-left: -9px;
    width: 89%;
    background-color: #C4C4C4;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px;
}

#login-text {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}

#register_link {
    font-size: 15px;
    font-weight: normal;
    margin-left: 297px;
}

.links {
    text-decoration: none;
    color: blue;
}

#forgot-password-link {
    font-size: 15px;
    font-weight: normal;
    margin-left: 269px;
}

/* doctor_page.html */

#tiles{
    padding: 30px;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 280px;
    height: 400px;
    border: 1px solid black;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
    background-color: #c4c4c4; /* Should be removed. Only for demonstration */
  }

#doctor-tile {
    margin-left: 35px;
    border: 1px solid black;
}

#doctor-image {
    padding: 15px;
}

#doctor-name {
    margin-left: 35px;
    width: 200px;
    padding-bottom: 10px;
}

#doctor-hospital {
    margin-left: 35px;
    width: 200px;
    padding-bottom: 10px;
}

#tile-button {
    padding: 5px;
    height: 30px;
    width: 100px;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #EEE8AA;
    font-weight: bold;
    font-size: 15px;
}

#tile-button-text {
    text-decoration: none;
    color: black;
}



/* clinic_page.html */


#clinic-tile {
    margin-left: 35px;
    border: 1px solid black;
}

#clinic-image {
    padding: 15px;
}

#clinic-address {
    margin-left: 35px;
    width: 200px;
    padding-bottom: 10px;
}

/* appointments.html */

.appointments-row {
    width: 80%;
    margin: auto;
    background-color: #EEE8AA;
    border: 1px solid black;
    margin-bottom: 20px;
}

#clinic-schedule-50{
    width: 30%;
    padding: 50px;
}

#clinic-schedule-25{
    width: 30%;
    padding: 30px;
}

#clinic-schedule-image{
    width:20%;
    border-bottom:none;
}

#clinic-schedule-image img{
    width:200px;
    border-bottom:none;
    border-left:solid 1px;
    display: block;
}

#clinic-schedule {
    width: 30%;
    border: 1px solid black;
    padding: 30px;
}

#schedule-button {
    padding: 5px;
    height: 50px;
    width: 100px;
    background-color: #C4C4C4;
    font-weight: bold;
    font-size: 15px;
    float: right;
}

.appointment_schedule {
    margin-right: 300px;
    margin-left: 35px;
    margin-bottom: -35px;
    margin-top: -35px;
    width: 300px;
    font-weight: normal;
}

.hospital_name {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 35px;
}

.appointment-title{
    text-align: center;
}

/* history.html */

.clinic-schedule-attended{
    width: 20%;
    border-left: 1px solid;
    background-color: #c4c4c4;
    padding: 0;
}

.status {
    font-weight: bold;
    font-size: 20px;
}

.appointment_remarks {
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    width: 150px;
}

/* profile.html */
.avatar {
    margin-top: 20px;
    margin-left: 270px;
    margin-bottom: 30px;
    position:relative;
    display:inline-block;    
    border-radius:50%;
    border:black solid 1px;
    width: 150px;
    text-align: center;
    color: black;
    background-color: #C4C4C4;
}
.col-50-left {
    text-align: right;
    float: left;
    width: 30%;
    margin-top: 6px;
  }

.col-50-right {
    text-align: left;
    float: left;
    width: 50%;
    margin-top: 6px;
  }

.profile-form {
    border: 1px solid black;
    margin: auto;
    width: 800px;
    font-size: 25px;
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-left: 130px;
    padding-bottom: 30px;
}

.profile-form form{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 130px;
}

#update-button-container {
    padding-top: 20px;
    width: 89%;
    margin-left: -70px;
}

#update-button {
    padding-top: 20px;
    width: 89%;
    background-color: #C4C4C4;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
}

/* doctor_book.php */

/* html *{
    font-family: Arial !important;
 } */
 table.calendar {
     border-left: 1px solid #999;
 }
 /* tr.calendar-row {
 } */
 td.calendar-day {
     min-height: 80px;
     font-size: 11px;
     position: relative;
     vertical-align: top;
 }
 * html div.calendar-day {
     height: 80px;
 }
 td.calendar-day:hover {
     background: #eceff5;
 }
 td.calendar-day-np {
     background: #eee;
     min-height: 80px;
 }
 * html div.calendar-day-np {
     height: 80px;
 }
 td.calendar-day-head {
     background: #ccc;
     font-weight: bold;
     text-align: center;
     width: 120px;
     padding: 5px;
     border-bottom: 1px solid #999;
     border-top: 1px solid #999;
     border-right: 1px solid #999;
 }
 div.day-number {
     background: #999;
     padding: 5px;
     color: #fff;
     font-weight: bold;
     float: right;
     margin: -5px -5px 0 0;
     width: 20px;
     text-align: center;
 }
 td.calendar-day, td.calendar-day-np {
     width: 120px;
     padding: 5px;
     border-bottom: 1px solid #999;
     border-right: 1px solid #999;
 }

